<header>
    <nav>
        <a href="/">FullStackApp</a>
        <ul>
            <li><a href="/authors">All Authors</a></li>
            <li><a href="/authors/new">New Authors</a></li>
        </ul>
    </nav>
</header>